body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* header css starts */
.container-header:after,
.container-header:before {
    content: "";
    display: block;
    clear: both;
}

/* Start navbar */
.nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ececec;
    min-height: 50px;
    height: auto;
}

.nav .nav-heading {
    float: left;
    padding-left: 40px;
    width: 40%;
    height: 60px;
}

.nav .nav-heading .toggle-nav {
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    display: none;
    background-color: transparent;
}

.nav .nav-heading>a {
    text-decoration: none;
    color: #000;
    line-height: 60px;
    font-weight: 400;
    font-size: 19px;
}

/* Start menu */
list .nav .menu {
    float: right;
}

.nav .menu:after {
    content: "";
    clear: both;
    display: block;
}

.nav .list {
    float: right;
    margin: 0;
    padding-right: 40px;
    /* padding-top: 20px; */
    /* height: 40px; */
}

.nav .list>li {
    float: left;
    list-style: none;
}

.nav .list>li>a {
    color: #555;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
}

.nav .list>li>a:hover,
.nav .list>li.active>a {
    color: #333
}

.brand img{
    padding-top: 5px;
}
/* Start drodpwn menu */
.categories {
    position: relative;
}

.show {
    display: block
}

.menu .list li:active {
    background-color: #0fc5d3;
}

/* Dark theme */
.dark-nav {
    background-color: #0f4d88;
    border: none;
}
.dark-nav .list>li>a {
    color: #4fe6af
}
.dark-nav .list>li>a:hover,
.dark-nav .list>li.active>a {
    color: #FFF
}
.dark-nav .nav-heading>a {
    color: #EEE
}
.dark-nav .nav-heading .toggle-nav {
    color: #EEE
}
.nav-active{
    background-color: #0fc5d3;
}
/* End Dark theme */
/* Header css stoos */


