/* css of the content page */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.content-1,
.content-main-2,
.content-primary {
height: auto;
width: 100%;
padding-top: 25px;
padding-bottom: 25px;
}

.content-primary {
background: #ffffff;
}


.content-1 {
    background: #ccf2cd;
}

.content-main-2 {
    background-color: #ffffff;
}

.content-pic {
    height: auto;
    width: 350px;
}

.content-about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-text {
    width: 540px;
}

.content-text-primary {
    width: 840px;
}

.content-text h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    text-align: justify;
}

.content-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cntent-span {
    color: #0c4e8b;
}

.content-text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.content-data {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-hire {
    margin: 5px;
    font-size: 18px;
    background: #0c4e8b;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    transition: 0.5s;
}

.content-hire:hover {
    background: #022a4f;
    border: 1px solid #0c4e8b;
}

.content-space {
    margin-top: 200px;
}
.content-hire{
    width:500px;
}
/* header css starts */

.container-header:after,
.container-header:before {
    content: "";
    display: block;
    clear: both;
}